<div class="container user">
  <div class="user-text">
  <% if current_user != @user %>
    <h1> <%= @user.user_name %> </h1> 
  <% end %>
  </div>
  <div class="wiki-box">
    <div class="wiki-header">
      <h2>Public Wikis</h2>
    </div>
    <%= render @wikis %>
  </div> 
  <div class="row">
    <div class="col-md-4 col-md-offset-5 user-btns">
      <% if current_user == @user %>
        <%= link_to "New Wiki", new_wiki_path(@user, @wiki), class: 'btn btn-success' %>
      <% end %>
      <% if current_user.role == 'standard' %>
        <%= link_to "Upgrade to Premium", new_charge_path, class: 'btn btn-success' %> 
      <% end %>
    </div>
  </div>
  <% if current_user.role == 'admin' || (current_user.role == 'premium' && current_user == @user) %>
    <div class="wiki-box">
      <div class="wiki-header">
        <h2>Private Wikis</h2>
      </div>
        <%= render @private_wikis %>
      </div>
  <% end %>  
</div>