<div id="wiki-<%= @wiki.id %>" >
  <h3>
    <%= @wiki.title %>
  </h3>
    <small> 
          | <%= link_to "", edit_wiki_path(@wiki), class: 'glyphicon glyphicon-pencil' %>
          <% if policy(@wiki).destroy? %>
              | <%= link_to "", @wiki, method: :delete, remote: true, class: 'glyphicon glyphicon-trash' %> |
          <% end %>
          <%= image_tag(@wiki.user.avatar.tiny.url) if @wiki.user.avatar? %>
          Created <%= time_ago_in_words(@wiki.created_at) %> ago by
          <%= @wiki.user.user_name %>  
     </small>
  </br>
</br>
     <p><%= @wiki.body %></p>
</div>
 