<div id="wiki-<%= @wiki.id %>" >
  <h3>
    <%= link_to "", edit_wiki_path(@wiki), class: 'glyphicon glyphicon-pencil' %>
    | <%= link_to "", @wiki, method: :delete, remote: true, class: 'glyphicon glyphicon-trash' %> |
    <%= @wiki.title %>
  </h3>
    <p><%= @wiki.body %></p>
</div>
 